<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name= "android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/log"
        android:label="@string/app_name"
        android:roundIcon="@drawable/log"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShopFashion">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Splash1"
            android:exported="true">
        </activity>
        <activity android:name=".Splash2"
            android:exported="true">
        </activity>
        <activity android:name=".Login"
            android:exported="true">
        </activity>
        <activity android:name=".CreateAccount"
            android:exported="true">
        </activity>
        <activity android:name=".ForgotPassword"
            android:exported="true">
        </activity>
        <activity android:name=".Profile"
            android:exported="true">
        </activity>
        <activity android:name=".SearchActivity"
            android:exported="true">
        </activity>
        <activity android:name=".Cart"
            android:exported="true">
        </activity>
        <activity android:name=".Discounts"
            android:exported="true">
        </activity>
        <activity android:name=".New_card"
            android:exported="true">
        </activity>
        <activity android:name=".Notidications"
            android:exported="true">
        </activity>
        <activity android:name=".NewAddress"
            android:exported="true">
        </activity>
        <activity android:name=".Category"
            android:exported="true">
        </activity>
        <activity android:name=".Error"
            android:exported="true">
        </activity>
        <activity android:name=".ProductCard"
            android:exported="true">
        </activity>
        <activity android:name=".Shop"
            android:exported="true">
        </activity>
        <activity android:name=".Collectinn"
            android:exported="true">
        </activity>
        <activity android:name=".MyOrders"
            android:exported="true">
        </activity>
        <activity android:name=".PinCode"
            android:exported="true">
        </activity>
        <activity android:name=".Woman"
            android:exported="true">
        </activity>
        <activity android:name=".Man"
            android:exported="true">
        </activity>
        <activity android:name=".Accessories"
            android:exported="true">
        </activity>
    </application>
</manifest>